body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/assets/background.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-fit-content {
  width: fit-content;
}

.bg-img-info {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/121/658/original/grunge-paper-texture-vectors.jpg");
  background-position: left;
  background-size: cover;
}

.btn:hover, input:hover {
  background-color: rgba(0, 0, 0, 0.68);
}

.gameText, .btn  {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.combat-options:hover {
cursor: pointer!important;
background-color: rgb(249, 249, 249)!important;
}

input, .btn  {
  background-color: rgba(0, 0, 0, 0.323);
  border: 0;
}

input[type="text"]::placeholder {
                 
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(255, 255, 255);
}

